@import "variables";

div.notices {
    margin : 1rem;
    position: relative;
    display: block;
    font-size: 1rem;

    color: #666;
}

div.notices p:first-child:before {
  display: block;
  content:"!";
  position: absolute;
  top: 3px;
  left: 5px;
  right: 10px;
  color: #fff;
  border: 2px solid #fff;
  height: 20px;
  width: 20px;
  line-height: 21px;
  font-weight: bold ;
  text-align: center;
  border-radius: 50%;
}
div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}
div.notices div[class ~= highlight]:first-child::before{
  display: block;
  content:"!";
  position: absolute;
  top: 3px;
  left: 5px;
  right: 10px;
  color: #fff;
  border: 2px solid #fff;
  height: 20px;
  width: 20px;
  line-height: 21px;
  font-weight: bold ;
  text-align: center;
  border-radius: 50%;
}

div.notices div[class ~= highlight]:first-child::after{
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

div.notices div.highlight{
  position: relative;
  padding: 0;
}
div.notices pre.chroma{
  margin: 0;
}
div.notices p{
  margin: 0;
  padding : 0.5rem;
}
div.notices.warning div.highlight{
  border: 1rem solid #FAE2E2;
}

div.notices.tip div.highlight{
  border: 1rem solid #E6F9E6;
}

div.notices.info div.highlight{
  border: 1rem solid #FFF2DB;
}

div.notices.note div.highlight{
  border: 1rem solid #E7F2FA;
}

div.notices.info p:first-of-type {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}
div.notices.info p{
  background:#FFF2DB
}
div.notices.info p:first-child:after {
    content: 'Info';
}
div.notices.warning p:first-of-type {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
div.notices.warning p {
  background: #FAE2E2
}
div.notices.warning p:first-child:after {
    content: 'Warning';
}
div.notices.note p:first-of-type {
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
div.notices.note p{
  background: #E7F2FA
}
div.notices.note p:first-child:after {
    content: 'Note';
}
div.notices.tip p:first-of-type {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}
div.notices.tip p{
  background: #E6F9E6
}
div.notices.tip p:first-child:after {
    content: 'Tip';
}
