/* To be overridden by theme user */
// @import "variables";
#site-nav {
  background: linear-gradient(-225deg, rgb(0, 173, 105) 0%, rgb(75, 192, 91) 100%);
  position: relative;
  
  .header-wrapper {
    font-family: $cumulus-font-family;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }

  a {
    img {
      max-height: 42px;
      z-index: 1025;
      position: relative;
    }
    .header-mobile {
      width: 32px;
      height: auto;
      display: none;
    }
    span {
      color: white;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      position: relative;
      left: 26px;
      z-index: 1025;

      &:before {
        content: "";
        width: 1px;
        height: 30px;
        background-color: #fff;
        opacity: .25;
        position: absolute;
        left: -16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  ul {
    color: white;
    list-style: none;
    margin: 0;

    li {
      a {
        color: white;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.75px;
        text-transform: uppercase;
      }
    }
  }
}

.burger-menu {
  cursor: pointer;
  display: none;
  margin-right: 10px;
  z-index: 1025;

  span {
    background-color: $white;
    display: block;
    width: 21px;
    height: 1px;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }
}

#product-nav {
  background: white;
  border: 1px solid rgb(224, 228, 236);
  box-shadow: 0px 2px 10px 0px rgba(175, 184, 197, 0.2);
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
      a {
        color: $cn-limited-spruce;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.1px;
        line-height: 30px;
      }

      &.active {
        &:after {
          background-color: $cn-jade;
          content: '';
          width: calc(100% - 26px);
          height: 2px;
          position: absolute;
          top: 56px;
          left: 0;
        }
      }
    }
  }

  #doc-search-box {
    position: relative;
    span {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      button {
        background-color: transparent;
        border-top-right-radius: 21.5px;
        border-bottom-right-radius: 21.5px;
        border: 0;
        padding: 0;
        width: 39px;
        height: 43px;
      }
    }
  }

  .doc-search-input {
    background: rgb(246, 248, 250);
    border: 0;
    border-radius: 21.5px;
    color: rgb(54, 66, 74);
    font-weight: 400;
    line-height: 30px;
    position: relative;
    padding: 10px 10px 10px 27px;
    width: 260px;
    height: 43px;

    &::-moz-placeholder { color: rgb(54, 66, 74); opacity: 1;}
    &:-ms-input-placeholder { color: rgb(54, 66, 74); }
    &::-webkit-input-placeholder  {color: rgb(54, 66, 74); }

    &:focus {
      outline: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .burger-menu {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  #site-nav {
    ul {
      background: linear-gradient(-225deg,#00ad69 0%,#4bc05b 100%);
      display: none;
      flex-direction: column;
      padding: 80px 40px 100px;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      text-align: center;
      z-index: 1024;

      li {
        line-height: 30px;
      }
    }

    &.menu-opened {
      ul {
        display: flex;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #site-nav .header-wrapper {
    padding: 35px 50px;
  }

  #product-nav {
    padding: 21px 50px;
  }
}

@media only screen and (min-width: 801px) {
  #site-nav,
  #product-nav {
    ul {
      li {
        padding-right: 26px;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  #site-nav {
    a {
      span {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -.15px;
        top: 2px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #site-nav {
    a {
      img:not(.header-mobile) {
        display: none;
      }
      .header-mobile {
        display: inline-block;
      }
    }
  }
}
